div.prapor {
    font-size: 70%;
    width: 100%;
    text-align: center;
    font-weight: 800;
}
div.prapor > div {
    height: 1.4em;
    line-height: 1.4em;
}

div.prapor > div.yellow {
    color: black;
    background-color: #ffd700;
}

div.prapor > div.blue {
    color: white;
    background-color: #0057b7;
}
